/* height: 600px;
  width: 600px; */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
  align-items: center;
}
/* .flipCard1 {
  margin: 20px;
  background-color: transparent;
  width: 500px;
  height: 500px;
  border: 10px solid #f1f1f1;
  perspective: 1000px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 80px;
} */
.flipCard {
  background-color: transparent;
  width: 500px;
  height: 300px;
  border: 1px solid #b9b3b3;
  perspective: 1000px;
  padding: 20px;
  margin: 20px;
}
.flipinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flipCard:hover .flipinner {
  transform: rotateY(180deg);
}
.frontfilp,
.backflip {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.frontfilp {
  background-color: #bbb;
  color: black;
}
.backflip {
  padding-top: 65px;
  background-image: linear-gradient(black, rgb(62, 147, 187), black);
  color: white;
  transform: rotateY(180deg);
}
